#!/bin/bash

# required modules
# pip3.9 install "fastapi[all]"
# pip3.9 install lxml
# pip3.9 install "uvicorn[standard]" gunicorn
# ...

export FASTAPI_PYTHON=python3
export FASTAPI_ROOT_PATH=/
export FASTAPI_PORT=8088

# if undefined, hostname will be used instead of value below
export FASTAPI_SERVER=localhost

export RDF_IS_VISIBLE=true
export PLATFORM_KEY=test

# virtuoso service related parameters: used by bash scripts in virt directory
export SIBILS_SPARQL_URL="http://localhost:8891/sparql"
export SIBILS_VIRT_ROOT_PATH="/home/pam/work/tools/virtuoso-opensource"
export SIBILS_VIRT_INI_FILE="/home/pam/work/rdf4sibils/v2/virt/virtuoso.ini"
