v1
v2/out/
*.out
output/*.ttl
proxy_output/dir
xslt
terminologies/*.json
terminologies/v.2x
terminologies/v3.2
rdf/
ttl/
ttl
*.gz
*.log
chunks/
data.test/
dir_test/
output/
proxy_dir/
__pycache__/
v2/serve/static/downloads
v2/serve/static/sparql
v2/data_analysis
